* {
    background-color: black;
    color: white;
}

.body {
    margin: 5%;
}

.fast-one {
    display: flex;
    justify-content: space-between;
    border: 3px solid yellow;


}

nav ul li {
    list-style: none;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}

nav ul li {
    margin-right: 47px;
    /* bo rder:3px solid red ; */
    color: rgb(255, 255, 255);
    font-family: Inter;
    text-align: left;
    margin-top: 6%;

}

nav ul {
    display: flex;
}

.fast {
    color: rgb(230, 83, 60);

    font-size: 36px;
    font-weight: 800;
    margin-left: 10%;

}

.ancor-tag {
    border-radius: 46px;
    padding: 20%;
    background: rgb(230, 83, 60);

}


.banner-section {
    border: 3px solid blue;
    display: flex;
    margin-top: 150px;



}

.banner {
    /* border: 2px solid blue; */
    width: 50%;
    margin-left: 7%;
    height: 440px;
    background: linear-gradient(180.00deg, rgba(17, 17, 17, 0.48), rgba(119, 119, 119, 0) 100%);

}

.btn {
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 42px;
}

.btn-2 {
    border-radius: 42px;
    padding: 10px 30px;

}

#btn-3 {

    position: absolute;
    width: 180px;
    height: 85px;
    left: 1107px;
    /* top: 260px; */
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.img-tag {
    position: absolute;
    width: 349px;
    height: 580px;
    left: 877px;
    top: 135px;
}




/* habit */
.habit-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid green;
    margin-top: 30px;

}

.habit-img {
    /* border: 2px solid mediumvioletred; */
    display: flex;
    align-items: center;
    /* width: 90%;
    height:442px; */
    margin-top: 70px;
}

.habits1 {
    border: 2px solid #E6533C;
    margin-left: 5%;
}

.habits2 {
    border-radius: 90px;
    margin-top: 10%;
    margin-left: 8%;
}

.img-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

}


.img-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-left: 7%;
}



/* run-section */

.run-section {
    display: flex;
    margin-top: 10%;
    border: 2px solid yellow;
    background-color: #222222;
    border-radius: 18px;
    justify-content: space-between
}

.run-div {
    /* background: rgb(230, 83, 60); */
    margin: 10px;
    background-color: #222222;
}


.run-heading {}

.run-contant {
    margin-left: 20px;
    color: #FFFFFF80;

}

.run-button {
    display: flex;
    flex-direction: row;
    padding: 10px 30px 10px 30px;
    border-radius: 42px;

    background: rgb(230, 83, 60);
}


.run-img1 {

    width: 366px;
    height: 312px;
    /* border: 2px solid blue; */
    margin: 20px;
    border-radius: 18px;
}

/* calculator chat */

.table {
    border-collapse: collapse;
}

.td {
    border: 1px solid red;
    padding: 5px 10px;

}
















/* trem */

.trem-div1 {
    border: 3px solid yellowgreen;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.trem-heading {

    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}




.trem-pg {}


.trem-div2 {
    border: 2px solid red;
    margin-top: 20px;

}

.images {
    width: auto 326px;
    height: 272px;
    border-radius: 18px;


    margin: 20px 0px;






    background: rgba(0, 0, 0, 0.2), url(image);
}

.images4 {
    width: auto 326px;
    height: 272px;
    border-radius: 18px;



}

/* footer contant */
.footer-main {
    border: 2px solid #E6533C;
    background-color: #FFFFFF1A;
    margin: 88px 0px;
    display: flex;

    justify-content: space-between;



}



.fitness-contant {
    border: 2px solid seagreen;
    margin: 0px 10px;
    width: 443px;
    height: 72px;
    margin-left: 20px;

    justify-content: center;
    align-items: center;

    

}

.fitnes {
    margin: 20px 0px;
    color: #E6533C;
    font-size: 60px;
}

.get-started {
   
    width: 181px;
    height: 249px;
    margin: 0px 50px;

}
.get1{
    font-size: 20px;
}

.get-started2 {
    width: 181px;
    height: 249px;
    margin: 0px 50px;
    margin-right: 80px;
  
}
.get2{
    font-size: 20px;
}