


@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    
}


.body {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
}

header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding: 5%;
}

.header-section{
    display: flex;
    justify-content: space-between;


}


nav ul li {
    list-style: none;
    text-decoration: none;
}
#icone{
    margin-top: 20px;
    display: none;
}
nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 47px;
    border: 1px solid #FFFFFF1A;
    border-radius: 40px;
    padding: 12px;
}

.fitnes-header{
    color: #E6533C;
    font-size: 36px;
    font-weight: 800;

}

.ancor-tag {
    border-radius: 46px;
    padding: 20%;
    background: rgb(230, 83, 60);

}


.banner-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    padding: 50px;
}

/* .banner {
    width: 50%;
} */

.banner-hedding{
    font-size: 60px;
    margin-bottom:20px;
}
.banner-contant{
    font-size: 15px;
    color: #FFFFFF80;
    margin-bottom: 20px;

}

.btn {
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 42px;
    color: white;
    border: 2px solid #E6533C;
}

.btn-2 {
    border-radius: 42px;
    padding: 10px 30px;
    background-color: black;
    color: #FFFFFF;
  border: 2px solid #FFFFFF;

}

#btn-3 {
    position: absolute;
    padding: 7px 40px;
   
    left: 1090px;
    top: 400px;
    box-sizing: border-box;
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    align-items: center;

}

#btn-3-500 {
    font-size: 40px;
    color: #FFFFFF;

}

main{
    margin: 5%;
}

#free-warkout {
    color: #FFFFFFA6;
    font-size: 13px;
}

#btn-4 {
    position: absolute;
    border-radius: 10px;

    left: 850px;
    top: 700px;
    background-color: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 15px 20px;
}
.btn-4-div{
width: 40px;
height: 40px;
background-color: #E6533C;
border-radius: 50px;
padding: 17px;

}

#btn-4-350 {
    font-size: 24px;
    color: #FAFAF9;
}


#video-tutorial {
    font: size 16px;
    color: #EFEDE8A6;

}

/* habit */
.habit-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 25px;

}
.habit-contant{
    color: #FFFFFF80;

}

.habit-img {
    display: flex;
    align-items: center;
    margin-top: 70px;
}

.habits1 {

    margin-left: 5%;
}

.habits2 {
    border-radius: 90px;
    margin-top: 10%;
    margin-left: 8%;
}

.img-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;

}

.img-contant {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    margin-left: 7%;
   color: #FFFFFF80;
}



/* run-section */

.run-section {
    display: flex;
    margin-top: 10%;
    background-color: #222222;
    border-radius:15px 18px;
    justify-content: space-between
}

.run-div {
    margin:10px;
    background-color: #222222;
    padding: 40px;
}


.run-heading {}

.run-contant {
    margin-top: 20px;
    color: #FFFFFF80;

}

.run-button {

    margin-top: 20px;
    padding: 10px 40px 10px 40px;
    border-radius: 30px;
    border: 2px solid #E6533C ;

    background-color: #E6533C;
}


.run-img1 {

    width: 366px;
    height: 312px;
    margin: 20px;
    border-radius: 18px;
}


.Calculator-part1{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
   margin-top: 80px;
}
.bmi-calculator{

font-size: 48px;
}
.bmi-contant{
    color:#FFFFFF80 ;
    font-size: 15px;
}
.Calculator-part2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    margin-top: 30px;
    gap: 35px;
    background-color:#222222;
}
.calculator-chat{
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-left: 30px;
}
.calculator-chat2{
    font-size:14px ;
    color:#FFFFFF80 ;
}
.Calculator-part3{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.calculate-your{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF80;
}

.your-bml{
    color: #FFFFFF;

}
.bml{
    color: #FFFFFF;
}

.form-contant{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #FFFFFF80;
    margin-top: 20px;
}
.table {
    border-collapse: collapse;
}

.td {
    border: 1px solid red;
    padding: 5px 10px;

}


/* trem */

.trem-div1 {
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.trem-heading {
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;


}




.trem-pg {
    color: #FFFFFF80;
}


.team-div2{
  border: 2px solid red;
    margin-top: 20px;
  
    margin-left: 5px;
    background-color: #00000033;
    

  

    
} 

.trainer-div1{
    display: flex;
    width:100%;
    height: 272px;
    /* justify-content: space-between; */
    margin-left: 100px;

}
.trainer-div2{
    display: flex;
    /* justify-content: space-between; */
    width:100%;
    height: 272px;
    margin-left: 100px;
  


}
.images4{
    width: 310px;
    padding: 10px;
    border-radius: 25px;

}
.images1{
    padding: 10px;
    width: 310px;
    border-radius: 25px;
}







/* footer contant */
.footer-main {
    margin: 88px 10px;
    display: flex;
    margin-bottom:0px;

    justify-content: space-between;



}

.footer{
    background-color:#FFFFFF1A;
    
}



.fitness-contant {

    margin: 0px 10px;
    width: 443px;
    height: 72px;
    margin-left: 20px;

}

.description{
    width: 443px;
}

.fitnes {
    margin: 20px 0px;
    color: #E6533C;
    font-size: 60px;
    padding: 20px;
}

.get-started {

    margin:  50px;
    color:#FFFFFF80 ;

}

.get1 {
    font-size: 20px;
    margin-bottom:20px;
    color: #FFFFFF;
}

.get-started2 {
    width: 181px;
    height: 249px;
    margin: 60px 50px;
    color:#FFFFFF80 ;

}

.get2 {
    font-size: 20px;
    margin-bottom: 20px;
    color:#FFFFFF ;
}
.last{
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 50px;

}

@media screen and (max-width: 576px) {

.header{
    padding: 0px;
}
.header-section{
    display: flex;
   
}
#icone{
    display: block;
}
nav ul{
    display: none;
}
.banner-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
padding: 0;
}
.banner-hedding{
    font-size: 35px;
}
.btn {
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 42px;
    color: white;
    border: 2px solid #E6533C;
}

.btn-2 {
    border-radius: 42px;
    padding: 10px 30px;
    background-color: black;
    color: #FFFFFF;
  border: 2px solid #FFFFFF;
}

.btn {
    background-color: #E6533C;
    padding: 10px 30px;
    border-radius: 42px;
    color: white;
    border: 2px solid #E6533C;
}



.btn .btn-2{
    display: flex;
    flex-direction: row;

}

.img-tag{
    margin-top: 80px;
}

#btn-3 {
    left: 85px;
    top: 600px;

}

#btn-4 {

    left: 50px;
    top: 900px;
}

.btn-1-2{
    display: flex;
}
.habit{
    font-size:30px;
}

.habit-img{
    display: flex;
    flex-direction: column;
}
.run-section{
    display: flex;
    flex-direction: column;
}
.run-img1{
    width:100%;
    height: 100%;
    margin: 2px;


}
.bmi-calculator{
    font-size: 32px;
}
.Calculator-part2{
    display: flex;
    flex-direction: column;
}
.btn{
    margin-top: 20px;
   
}
.trem-heading{
    font-size: 30px;
}
.trainer-div1{
    display: flex;
    flex-direction: column;
}
.footer-main{
     display: flex;
    flex-direction:column;
    justify-content: space-between;
}
.fitnes{
    font-size: 65px;

}

.get-started{
    margin: none;
  

}
.get-started2 {
    width: 100%;
    height: 100%;
    margin:none;
    color:#FFFFFF80 ;

}

.get2 {
    font-size: 20px;
    margin-bottom: none;
    color:#FFFFFF ;
}
  

.get-started{
    margin-top: 29px;
}

.description{
    width: 317px;
}

}




